# /*
# |    Protect your secrets, protect your sensitive data.
# :    Explore VMware Secrets Manager docs at https://vsecm.com/
# </
# <>/  keep your secrets... secret
# >/
# <>/' Copyright 2023-present VMware Secrets Manager contributors.
# >/'  SPDX-License-Identifier: BSD-2-Clause
# */

# Docs
docs/_site
docs/.jekyll-cache
public/

# Mac
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE-specific
.idea
.code
.vscode
.history

vendor

# Binaries
/vsecm-safe
/vsecm-init-container
/vsecm-sentinel
/vsecm-sidecar
/example-using-init-container
/example-using-sidecar
/example-using-sdk-go
/example-multiple-secrets
/vsecm-ist-init-container
/vsecm-ist-safe
/vsecm-ist-sentinel
/vsecm-ist-sidecar
/docs/public
