apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: smo-app
  labels:
    app: keycloak
    app.kubernetes.io/name: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
      app.kubernetes.io/name: keycloak
  template:
    metadata:
      namespace: smo-app
      labels:
        app: keycloak
        app.kubernetes.io/name: keycloak
    spec:
      initContainers:
      - name: init-container
        image: vsecm/vsecm-ist-init-container:0.25.4
        volumeMounts:
        - name: spire-agent-socket
          mountPath: /spire-agent-socket
          readOnly: true
        env:
        - name: SPIFFE_ENDPOINT_SOCKET
          value: "unix:///spire-agent-socket/agent.sock"
        - name: VSECM_LOG_LEVEL
          value: "7"
        - name: VSECM_SPIFFEID_PREFIX_WORKLOAD
          value: "spiffe://vsecm.com/workload/"
        - name: VSECM_SPIFFEID_PREFIX_SAFE
          value: "spiffe://vsecm.com/workload/vsecm-safe/ns/vsecm-system/sa/vsecm-safe/n/"
        - name: VSECM_INIT_CONTAINER_POLL_INTERVAL
          value: "5000"
      volumes:
      - name: spire-agent-socket
        csi:
          driver: "csi.spiffe.io"
          readOnly: true
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:23.0.4
        args: ["start-dev"]
        env:
        - name: KEYCLOAK_ADMIN
          valueFrom:
            secretKeyRef:
              name: keycloak-admin-secret
              key: KEYCLOAK_ADMIN_USER
        - name: KEYCLOAK_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak-admin-secret
              key: KEYCLOAK_ADMIN_PASSWORD
        ports:
          - name: http
            containerPort: 8080
        readinessProbe:
          httpGet:
            path: /realms/master
            port: 8080
