<p style="
text-align: center;
margin: 1em auto 1em auto;
max-width: 720px;
background: #fabfce;
border: 1px #aa0000 solid;
padding: 1em;
line-height: 2em;
">
    This is snapshot of <strong>VSecM</strong>’s documentation at
    version <strong>v{{site.version}}</strong>.<br>
    <a href="https://vsecm.com" style="text-decoration:underline;color: #660000;">Check out the latest version of the
        documentation</a>.
</p>

<div class="block-tip notification">
    <p>
        The next
        <strong
            ><a
                href="/docs/contributor-sync/"
                style="text-decoration: underline; color: #0946ec"
                >VSecM Contributor Sync</a
            ></strong
        >
        will be on...<br />
        <strong>Thursday, 2024-04-25</strong>
        at <strong>8:00am</strong> Pacific time.
    </p>
</div>
