---
---

.book-body {
    overflow-y: scroll;
}

.book-body .book-header {
    position: fixed;
    width: 100%;
}

.book.with-summary .book-body .book-header {
    position: fixed;
    width: calc(100% - 300px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.book-body .body-inner {
    /* position: absolute; */
    margin-top: 50px;
    min-height: calc(100% - 50px);
}

@media (max-width: 1240px) {
    .book-body .body-inner {
        position: absolute;
        margin-top: 50px;
        min-height: calc(100% - 50px)
    }
}

.book-body .body-inner .page-wrapper {
    min-height: calc(100% - 46px);
}

.book-body .body-inner .page-wrapper .page-inner {
    padding-bottom: 20px;
}

@media (max-width: 1240px) {
    .book-body .body-inner .navigation {
        max-width: calc(50% - 3px);
        width: calc(50% - 3px);
    }
}

.book .book-body .book-header {
    background: #ffffff;
}

.book.color-theme-1 .book-body .book-header {
    background: #f3eacb;
}

.book.color-theme-2 .book-body .book-header {
    background: #1c1f2b;
}

.page-inner {
    max-width: {{ site.page_width | default: '800px' }};
}

.back-to-top {
    right: calc((100% - 300px - min(100% - 300px, {{ site.page_width | default: '800px' }})) / 2 + 25px);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    /* background-color: rgba(125, 125, 125, 0.2); */
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(7, 17, 27, .2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.2);
    -webkit-border-radius: 6px;
}

/* Style for search page on mobile screens */

#book-search-input-link {
    padding: 6px;
    transition: top .5s ease;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
    background: #ffffff;
}

#book-search-input-link a {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 38px;
    padding: 7px 7px;
    color: #757575;
}

#book-search-input {
    display: block;
}
#book-search-input-link {
    display: none;
}

@media (max-width: 1240px) {
    #book-search-input {
        display: none;
    }
    #book-search-input-link {
        display: block;
    }
}

#book-search-input-inside {
    padding: 6px;
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-inside input {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    color: inherit;
}


/* Custom font settings */

.book.font-family-0 {
    xfont-family: Georgia, serif;
}
.book.font-family-1 {
    xfont-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Render wide tables */

.table-wrapper {
    overflow-x: scroll;
}

.markdown-section blockquote {
    border-left: 0.5em solid #71129E;
    background: #faf7fb;
    background: -webkit-linear-gradient(to right, #f3ebf6, #fdf8e3);
    background: linear-gradient(to right, #f3ebf6, #fdf8e3);




    padding: 0 1em;
    color: #140a18;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;

    box-shadow:
    rgba(50, 49, 93, 0.25) 0px 12px 25px -11px,
    rgba(0, 0, 0, 0.3) 0px 7px 15px -10px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2em;

    margin: 2em 0.2em;
}

/* Tips, warnings, and dangers */

.markdown-section blockquote.block-tip {
    border-color: var(--c-tip);
    color: #143a29;
    font-family: var(--font-family);
    padding: 0.5em;
    padding-left: 0.96em;
    margin: 2em 0.2em;
    border-left-width: 0.5em;

    background: #e2f5ec;
    background: -webkit-linear-gradient(to right, #e2f5ec, #d5eefe);
    background: linear-gradient(to right, #e2f5ec, #d5eefe);

    border-radius: 4px;

    box-shadow:
            rgba(50, 49, 93, 0.25) 0px 12px 25px -11px,
            rgba(0, 0, 0, 0.3) 0px 7px 15px -10px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.markdown-section blockquote.block-tip h1 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h2 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h3 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h4 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h5 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h6 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-warning {
    border-color: var(--c-warning);
    background-color: #e7c000;
    color: #352c00;
    font-family: var(--font-family);

    background: #e7c000;
    background: -webkit-linear-gradient(to right, #f7ebb0, #fdfeac);
    background: linear-gradient(to right, #f7ebb0, #fdfeac);

    border-radius: 4px;

    box-shadow:
            rgba(50, 49, 93, 0.25) 0px 12px 25px -11px,
            rgba(0, 0, 0, 0.3) 0px 7px 15px -10px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    margin-top: 2em;
    margin: 2em 0.2em;
}

.markdown-section blockquote.block-warning h1 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h2 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h3 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h4 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h5 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h6 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-danger {
    border-color: var(--c-danger);
    background-color: var(--c-danger-bg);
    color: var(--c-danger-text);
    font-family: var(--font-family);
}

.markdown-section blockquote.block-danger h1 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h2 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h3 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h4 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h5 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h6 {
    color: var(--c-danger-title);
}

:root {
    --c-tip: #42b983;
    --c-tip-bg: #e2f5ec;
    --c-tip-text: #215d42;
    --c-tip-title: #359469;
    --c-warning: #e7c000;
    --c-warning-bg: rgba(255, 229, 100, .25);
    --c-warning-text: #6b5900;
    --c-warning-title: #b29400;
    --c-danger: #c00;
    --c-danger-bg: #ffe0e0;
    --c-danger-text: #600;
    --c-danger-title: #c00;
    --font-family: "aglet-mono", mono, "divenire-mono", serif, "auger-mono", monospace, "lexia-mono-variable", sans-serif, "moby", sans-serif, "paradroid-mono-soft", sans-serif, "logic-monospace", mono, john-doe, sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
