article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

audio,
canvas,
video {
  display: inline-block
}

.github-button {
  text-align: right;
}

.github-button a {
  border-bottom: none !important;
  background: #e0e0e0 !important;
  padding: 0.5em !important;
  display: inline-block !important;
  border-radius: 8px !important;
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

html {
  xfont-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  margin: 0
}

a:focus {
  outline: thin dotted
}

a:active,
a:hover {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

mark {
  background: #ff0;
  color: #000
}

code,
kbd,
pre,
samp {
  xfont-family: monospace, serif;
  font-size: 1em
}

pre {
  white-space: pre-wrap
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 0
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

button,
input,
select,
textarea {
  xfont-family: inherit;
  font-size: 100%;
  margin: 0
}

button,
input {
  line-height: normal
}

button,
select {
  text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.link-inherit {
  color: inherit
}

.link-inherit:focus,
.link-inherit:hover {
  color: inherit
}

.hidden {
  display: none
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  color: #444;
  background: #eee;
  border-bottom: 5px solid #ddd
}

.alert-success {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d
}

.alert-info {
  background: #d9edf7;
  border-color: #bce8f1;
  color: #31708f
}

.alert-danger {
  background: #f2dede;
  border-color: #ebccd1;
  color: #a94442
}

.alert-warning {
  background: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b
}

/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: FontAwesome;
  src: url(fonts/Indivisible-Regular);
  src: url(fonts/Indivisible-Regular) format('embedded-opentype'), url(fonts/fontawesome/fontawesome-webfont.woff2?v=4.6.3) format('woff2'), url(fonts/fontawesome/fontawesome-webfont.woff?v=4.6.3) format('woff'), url(fonts/fontawesome/fontawesome-webfont.ttf?v=4.6.3) format('truetype'), url(fonts/fontawesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');
  font-weight: 400;
  font-style: normal
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul>li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: 0.3em;
}

.fa.fa-pull-right {
  margin-left: 0.3em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: 0.3em;
}

.fa.pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.fa-font:before {
  content: "\f042";
}

.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-align-justify:before {
  content: "\f039";
}

/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.book-langs-index {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  margin: 0;
  overflow: auto
}

@media (max-width: 600px) {
  .book-langs-index {
    padding: 0
  }
}

.book-langs-index .inner {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 3px
}

.book-langs-index .inner h3 {
  margin: 0
}

.book-langs-index .inner .languages {
  list-style: none;
  padding: 20px 30px;
  margin-top: 20px;
  border-top: 1px solid #eee
}

.book-langs-index .inner .languages:after,
.book-langs-index .inner .languages:before {
  content: " ";
  display: table;
  line-height: 0
}

.book-langs-index .inner .languages:after {
  clear: both
}

.book-langs-index .inner .languages li {
  width: 50%;
  float: left;
  padding: 10px 5px;
  font-size: 18px
}

@media (max-width: 600px) {
  .book-langs-index .inner .languages li {
    width: 100%;
    max-width: 100%
  }
}

.book-header {
  xfont-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: visible;
  height: 50px;
  padding: 0 8px;
  z-index: 2;
  font-size: .85em;
  color: #7e888b;
  background: 0 0
}

.book-header .btn {
  display: block;
  height: 50px;
  padding: 0 15px;
  border-bottom: none;
  color: #ccc;
  text-transform: uppercase;
  line-height: 50px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  position: relative;
  font-size: 18px
}

.book-header .btn:hover {
  position: relative;
  text-decoration: none;
  color: #444;
  background: 0 0
}

.book-header .btn:focus {
  outline: 0
}

.book-header h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  -webkit-transition: opacity ease .4s;
  -moz-transition: opacity ease .4s;
  -o-transition: opacity ease .4s;
  transition: opacity ease .4s;
  padding-left: 200px;
  padding-right: 200px;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.book-header h1 a,
.book-header h1 a:hover {
  color: inherit;
  text-decoration: none
}

@media (max-width: 1000px) {
  .book-header h1 {
    display: none
  }
}

.book-header h1 i {
  display: none
}

.book-header:hover h1 {
  opacity: 1
}

.book.is-loading .book-header h1 i {
  display: inline-block
}

.book.is-loading .book-header h1 a {
  display: none
}

.dropdown {
  position: relative
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 18px;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, .07);
  border-radius: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box
}

.dropdown-menu.open {
  display: block
}

.dropdown-menu.dropdown-left {
  left: auto;
  right: 4%
}

.dropdown-menu.dropdown-left .dropdown-caret {
  right: 18px;
  left: auto
}

.dropdown-menu .dropdown-caret {
  position: absolute;
  top: -8px;
  left: 14px;
  width: 14px;
  height: 10px;
  float: left;
  overflow: hidden
}

.dropdown-menu .dropdown-caret .caret-outer {
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid rgba(0, 0, 0, .1);
  height: auto;
  left: 0;
  top: 0;
  width: auto;
  display: inline-block;
  margin-left: -1px
}

.dropdown-menu .dropdown-caret .caret-inner {
  position: absolute;
  display: inline-block;
  margin-top: -1px;
  top: 0;
  top: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ccd2dc;
}

.dropdown-menu .buttons {
  border-bottom: 1px solid rgba(0, 0, 0, .07)
}

.dropdown-menu .buttons:after,
.dropdown-menu .buttons:before {
  content: " ";
  display: table;
  line-height: 0
}

.dropdown-menu .buttons:after {
  clear: both
}

.dropdown-menu .buttons:last-child {
  border-bottom: none
}

.dropdown-menu .buttons .button {
  border: 0;
  background-color: transparent;
  color: #a6a6a6;
  width: 100%;
  text-align: center;
  float: left;
  line-height: 1.42857143;
  padding: 8px 4px
}

.dropdown-menu .buttons .button:hover {
  color: #444
}

.dropdown-menu .buttons .button:focus,
.dropdown-menu .buttons .button:hover {
  outline: 0
}

.dropdown-menu .buttons .button.size-2 {
  width: 50%
}

.dropdown-menu .buttons .button.size-3 {
  width: 33%
}

.book-summary {
  xfont-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
  width: 300px;
  background: #f5f4f4;
  border-right: 1px solid rgba(0, 0, 0, .07);
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease;
}

.book-summary ul.summary {
  list-style: none;
  margin: 0;
  padding: 12px;
}

.book-summary ul.summary li {
  list-style: none
}

.book-summary ul.summary li.header {
  padding: 10px 15px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #939da3
}

.book-summary ul.summary li.divider {
  height: 1px;
  margin: 7px 0;
  overflow: hidden;
  background: rgba(0, 0, 0, .026);
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.book-summary ul.summary li i.fa-check {
  display: none;
  position: absolute;
  right: 9px;
  top: 16px;
  font-size: 9px;
  color: #3c3
}

.book-summary ul.summary li.done>a {
  color: #364149;
  font-weight: 400
}

.book-summary ul.summary li.done>a i {
  display: inline
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
  display: block;
  padding: 10px 15px;
  border-bottom: none;
  color: #191919;
  background: 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative
}

.book-summary ul.summary li a:hover {
  background: #70b7ff6a;
  color: #000000;
  border-radius: 8px;
}

.book-summary ul.summary li a:focus {
  outline: 0
}

.book-summary ul.summary li.active>a {
  background: #70b7ff6a;
  color: #000000;
  font-weight: 500;
  border-radius: 8px;
}

.book-summary ul.summary li ul {
  padding-left: 20px
}

@media (max-width: 600px) {
  .book-summary {
    width: calc(100% - 60px);
    bottom: 0;
    left: -100%
  }
}

.book.with-summary .book-summary {
  left: 0
}

.book.without-animation .book-summary {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important
}

.book {
  position: relative;
  width: 100%;
  height: 100%
}

@media (min-width: 600px) {
  .book.with-summary .book-body {
    left: 300px
  }
}

@media (max-width: 600px) {
  .book.with-summary {
    overflow: hidden
  }

  .book.with-summary .book-body {
    -webkit-transform: translate(calc(100% - 60px), 0);
    -moz-transform: translate(calc(100% - 60px), 0);
    -ms-transform: translate(calc(100% - 60px), 0);
    -o-transform: translate(calc(100% - 60px), 0);
    transform: translate(calc(100% - 60px), 0)
  }
}

.book.without-animation .book-body {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important
}

.book-body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  color: #000;
  background: #fff;
  -webkit-transition: left 250ms ease;
  -moz-transition: left 250ms ease;
  -o-transition: left 250ms ease;
  transition: left 250ms ease
}

.book-body .body-inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto
}

@media (max-width: 1240px) {
  .book-body {
    -webkit-transition: -webkit-transform 250ms ease;
    -moz-transition: -moz-transform 250ms ease;
    -o-transition: -o-transform 250ms ease;
    transition: transform 250ms ease;
    padding-bottom: 20px
  }

  .book-body .body-inner {
    position: static;
    min-height: calc(100% - 50px)
  }
}

.page-wrapper {
  position: relative;
  outline: 0
}

.page-inner {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 15px 40px 15px;
  padding-bottom: 6em !important;
}

.page-inner .btn-group .btn {
  border-radius: 0;
  background: #eee;
  border: 0
}

.buttons:after,
.buttons:before {
  content: " ";
  display: table;
  line-height: 0
}

.buttons:after {
  clear: both
}

.button {
  border: 0;
  background-color: transparent;
  background: #eee;
  color: #666;
  width: 100%;
  text-align: center;
  float: left;
  line-height: 1.42857143;
  padding: 8px 4px
}

.button:hover {
  color: #444
}

.button:focus,
.button:hover {
  outline: 0
}

.button.size-2 {
  width: 50%
}

.button.size-3 {
  width: 33%
}

.markdown-section {
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  color: #08182b;
  line-height: 1.7;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%
}

.markdown-section * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit
}

.markdown-section> :first-child {
  margin-top: 0 !important
}

.markdown-section> :last-child {
  margin-bottom: 0 !important
}

.markdown-section blockquote,
.markdown-section code,
.markdown-section figure,
.markdown-section img,
.markdown-section pre,
.markdown-section table,
.markdown-section tr {
  page-break-inside: avoid
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section p {
  orphans: 3;
  widows: 3
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  page-break-after: avoid
}

.markdown-section b,
.markdown-section strong {
  font-weight: 700
}

.markdown-section em {
  font-style: italic
}

.markdown-section blockquote,
.markdown-section dl,
.markdown-section ol,
.markdown-section p,
.markdown-section table,
.markdown-section ul {
  margin-top: 0;
  margin-bottom: .85em
}

.copy-code-button {
  font-family: var(--font-family);
  background: #0CB821 !important;
  color: #000000 !important;
  border: 1px #0dd426 solid !important;
  padding: 0.26em !important;
}

.copy-code-button:hover {
  background: #edc910 !important;
  color: #000000 !important;
  padding: 0.26em !important;
  border: 1px #00244F solid !important;
}

.markdown-section a {
  border-bottom: 4px #edc910 solid;
  text-decoration: none;
  background: 0 0;
  padding: 0.2em 0.5em calc(0.2em - 4px) 0.5em;
  color: #0946EC
}

.page-wrapper {
  xpadding-bottom: 150px;
}

.copyright a {
  color: #343f54;
  text-decoration: underline;
}

.copyright {
  border-top: 1px #96a4be solid;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-size: 0.85em;
  color: #343f54;
  line-height: 1.6em;
  background: #bdc6d6;


  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px 20px;


  margin-bottom: -10px;
}

.markdown-section a:active,
.markdown-section a:focus,
.markdown-section a:hover {
  outline: 0;
  background-color: #edc910;
  color: #000000;
  border-bottom: 4px #edc910 solid;
  text-decoration: none;
}

.markdown-section img {
  border: 0;
  max-width: 100%
}

.markdown-section hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none
}

.markdown-section hr:after,
.markdown-section hr:before {
  display: table;
  content: " "
}

.markdown-section hr:after {
  clear: both
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  margin-top: 1.275em;
  margin-bottom: .85em;
  font-weight: 700
}

.markdown-section h1 {
  font-size: 1.5em;
  font-weight: 600;
}

.markdown-section h2 {
  font-size: 1.25em;
  font-weight: 400;
  xborder-top: 1px solid #ED6B85;
  color: #720016;
  padding-left: 0;
  border-left: 0;
}

.markdown-section a code {
  background: inherit;
}

.markdown-section h2 code,
.markdown-section h3 code,
.markdown-section h1 code {
  background: inherit;
}

.markdown-section .highlighter-rouge {
  margin-top: 1.42em;
  margin-bottom: 2em;
}

.markdown-section h2:before {
  background: #BA1C3B;
  content: "";
  display: block;
  height: 2px;
  margin-bottom: 1rem;
  width: 64px;
}

.markdown-section h3 {
  font-size: 1.1em;
  font-weight: 400;

  border-left: 0.3em #00af80 solid;
  color: #006c4f;
  margin-top: 1.62em;

}

.markdown-section h4 {
  font-size: 1.05em
}

.markdown-section h5 {
  font-size: 1em
}

.markdown-section h6 {
  font-size: 1em;
  color: #777
}

.markdown-section code,
.markdown-section pre {
  font-family: aglet-mono, mono, divenire-mono, serif, auger-mono, monospace, lexia-mono-variable, sans-serif, moby, sans-serif, paradroid-mono-soft, sans-serif, logic-monospace, mono, john-doe, sans-serif;

  direction: ltr;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit
}

.markdown-section pre {
  overflow: auto;
  word-wrap: normal;
  xmargin: 0.2em;
  padding: .85em 1em;
  margin-bottom: 1.275em;
  xbackground: #f0f0f0;
  background: #17202d;
  border: 1px #b3b3b3 solid;
  xborder: 2px #e0e0e0 solid;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  font-family: aglet-mono, mono, divenire-mono, serif, auger-mono, monospace, lexia-mono-variable, sans-serif, moby, sans-serif, paradroid-mono-soft, sans-serif, logic-monospace, mono, john-doe, sans-serif;
}

.highlight {
  border-radius: 0.25em;
}

pre {
  tab-size: 2;
}


span.c {
  background: #93DC0F !important;
  color: #000000 !important;
}

.markdown-section pre>code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: 1.1em;
  font-size: 1em;
  white-space: pre;
  background: 0 0
}

.markdown-section pre>code:after,
.markdown-section pre>code:before {
  content: normal
}

.markdown-section code {
  padding: .1em;
  margin: 0;
  font-size: .99em;
  xbackground-color: #FFF0EB;
  xcolor: #882200;
  border-radius: 2px;
  background-color: #D1F3AE;
  color: #1E3B00;
  xcolor: #ffffff;
}

*::selection {
  background: #FFEABE !important;
  color: #000000 !important;
}


.markdown-section code:after,
.markdown-section code:before {
  letter-spacing: -.2em;
  content: "\00a0"
}

.markdown-section table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto
}

.markdown-section table td,
.markdown-section table th {
  padding: 6px 13px;
  border: 1px solid #ddd
}

.markdown-section table tr {
  background-color: #fff;
  border-top: 1px solid #ccc
}

.markdown-section table tr:nth-child(2n) {
  background-color: #f8f8f8
}

.markdown-section table th {
  font-weight: 700
}

.markdown-section ol,
.markdown-section ul {
  padding: 0;
  margin: 0;
  margin-bottom: .85em;
  padding-left: 2em
}

.markdown-section ol ol,
.markdown-section ol ul,
.markdown-section ul ol,
.markdown-section ul ul {
  margin-top: 0;
  margin-bottom: 0
}

.markdown-section ol ol {
  list-style-type: lower-roman
}

.markdown-section blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5
}

.markdown-section blockquote:first-child {
  margin-top: 0
}

.markdown-section blockquote:last-child {
  margin-bottom: 0
}

.markdown-section dl {
  padding: 0
}

.markdown-section dl dt {
  padding: 0;
  margin-top: .85em;
  font-style: italic;
  font-weight: 700
}

.markdown-section dl dd {
  padding: 0 .85em;
  margin-bottom: .85em
}

.markdown-section dd {
  margin-left: 0
}

.markdown-section .glossary-term {
  cursor: help;
  text-decoration: underline
}

.navigation {
  position: absolute;
  top: 50px;
  bottom: 0;
  margin: 0;
  max-width: 150px;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 40px;
  color: #ccc;
  text-align: center;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease
}

.navigation:hover {
  text-decoration: none;
  color: #444;
  background: #eeeeee;
}

.navigation.navigation-next {
  right: 0
}

.navigation.navigation-prev {
  left: 0
}

@media (max-width: 1240px) {
  .navigation {
    position: static;
    top: auto;
    max-width: 50%;
    width: 50%;
    display: inline-block;
    float: left
  }

  .navigation.navigation-unique {
    max-width: 100%;
    /*width:100%*/
  }
}

#book-search-input {
  padding: 6px;
  background: 0 0;
  transition: top .5s ease;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  border-top: 1px solid rgba(0, 0, 0, .07);
  margin-bottom: 10px;
  margin-top: -1px
}

#book-search-input input,
#book-search-input input:focus,
#book-search-input input:hover {
  width: 100%;
  background: 0 0;
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0;
  line-height: 22px;
  padding: 7px 7px;
  color: inherit
}

#book-search-results {
  opacity: 1
}

#book-search-results .search-results .search-results-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  margin-bottom: 35px;
  opacity: .6
}

#book-search-results .search-results .has-results .search-results-item {
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  color: #08182b;
  line-height: 1.7;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%
}

#book-search-results .search-results .has-results .search-results-item * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit
}

#book-search-results .search-results .has-results .search-results-item> :first-child {
  margin-top: 0 !important
}

#book-search-results .search-results .has-results .search-results-item> :last-child {
  margin-bottom: 0 !important
}

#book-search-results .search-results .has-results .search-results-item blockquote,
#book-search-results .search-results .has-results .search-results-item code,
#book-search-results .search-results .has-results .search-results-item figure,
#book-search-results .search-results .has-results .search-results-item img,
#book-search-results .search-results .has-results .search-results-item pre,
#book-search-results .search-results .has-results .search-results-item table,
#book-search-results .search-results .has-results .search-results-item tr {
  page-break-inside: avoid
}

#book-search-results .search-results .has-results .search-results-item h2,
#book-search-results .search-results .has-results .search-results-item h3,
#book-search-results .search-results .has-results .search-results-item h4,
#book-search-results .search-results .has-results .search-results-item h5,
#book-search-results .search-results .has-results .search-results-item p {
  orphans: 3;
  widows: 3
}

#book-search-results .search-results .has-results .search-results-item h1,
#book-search-results .search-results .has-results .search-results-item h2,
#book-search-results .search-results .has-results .search-results-item h3,
#book-search-results .search-results .has-results .search-results-item h4,
#book-search-results .search-results .has-results .search-results-item h5 {
  page-break-after: avoid
}

#book-search-results .search-results .has-results .search-results-item b,
#book-search-results .search-results .has-results .search-results-item strong {
  font-weight: 700
}

#book-search-results .search-results .has-results .search-results-item em {
  font-style: italic
}

#book-search-results .search-results .has-results .search-results-item blockquote,
#book-search-results .search-results .has-results .search-results-item dl,
#book-search-results .search-results .has-results .search-results-item ol,
#book-search-results .search-results .has-results .search-results-item p,
#book-search-results .search-results .has-results .search-results-item table,
#book-search-results .search-results .has-results .search-results-item ul {
  margin-top: 0;
  margin-bottom: .85em
}

#book-search-results .search-results .has-results .search-results-item a {
  color: #00244F;
  border-bottom: 4px #edc910 solid;
  text-decoration: none;
  background: 0 0
}

#book-search-results .search-results .has-results .search-results-item a:active,
#book-search-results .search-results .has-results .search-results-item a:focus,
#book-search-results .search-results .has-results .search-results-item a:hover {
  outline: 0;
  color: #00244F;
  background-color: #edc910;
  border-bottom: 4px #edc910 solid;
  text-decoration: none;
}

#book-search-results .search-results .has-results .search-results-item img {
  border: 0;
  max-width: 100%
}

#book-search-results .search-results .has-results .search-results-item hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none
}

#book-search-results .search-results .has-results .search-results-item hr:after,
#book-search-results .search-results .has-results .search-results-item hr:before {
  display: table;
  content: " "
}

#book-search-results .search-results .has-results .search-results-item hr:after {
  clear: both
}

#book-search-results .search-results .has-results .search-results-item h1,
#book-search-results .search-results .has-results .search-results-item h2,
#book-search-results .search-results .has-results .search-results-item h3,
#book-search-results .search-results .has-results .search-results-item h4,
#book-search-results .search-results .has-results .search-results-item h5,
#book-search-results .search-results .has-results .search-results-item h6 {
  margin-top: 1.275em;
  margin-bottom: .85em;
  font-weight: 700
}

#book-search-results .search-results .has-results .search-results-item h1 {
  font-size: 2em
}

#book-search-results .search-results .has-results .search-results-item h2 {
  font-size: 1.75em
}

#book-search-results .search-results .has-results .search-results-item h3 {
  font-size: 1.5em
}

#book-search-results .search-results .has-results .search-results-item h4 {
  font-size: 1.25em
}

#book-search-results .search-results .has-results .search-results-item h5 {
  font-size: 1em
}

#book-search-results .search-results .has-results .search-results-item h6 {
  font-size: 1em;
  color: #777
}

#book-search-results .search-results .has-results .search-results-item code,
#book-search-results .search-results .has-results .search-results-item pre {
  xfont-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit
}

#book-search-results .search-results .has-results .search-results-item pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0;
  padding: .85em 1em;
  margin-bottom: 1.275em;
  background: #f7f7f7
}

#book-search-results .search-results .has-results .search-results-item pre>code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  font-size: .85em;
  white-space: pre;
  background: 0 0
}

#book-search-results .search-results .has-results .search-results-item pre>code:after,
#book-search-results .search-results .has-results .search-results-item pre>code:before {
  content: normal
}

#book-search-results .search-results .has-results .search-results-item code {
  padding: .2em;
  margin: 0;
  font-size: .85em;
  background-color: #f7f7f7
}

#book-search-results .search-results .has-results .search-results-item code:after,
#book-search-results .search-results .has-results .search-results-item code:before {
  letter-spacing: -.2em;
  content: "\00a0"
}

#book-search-results .search-results .has-results .search-results-item table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto
}

#book-search-results .search-results .has-results .search-results-item table td,
#book-search-results .search-results .has-results .search-results-item table th {
  padding: 6px 13px;
  border: 1px solid #ddd
}

#book-search-results .search-results .has-results .search-results-item table tr {
  background-color: #fff;
  border-top: 1px solid #ccc
}

#book-search-results .search-results .has-results .search-results-item table tr:nth-child(2n) {
  background-color: #f8f8f8
}

#book-search-results .search-results .has-results .search-results-item table th {
  font-weight: 700
}

#book-search-results .search-results .has-results .search-results-item ol,
#book-search-results .search-results .has-results .search-results-item ul {
  padding: 0;
  margin: 0;
  margin-bottom: .85em;
  padding-left: 2em
}

#book-search-results .search-results .has-results .search-results-item ol ol,
#book-search-results .search-results .has-results .search-results-item ol ul,
#book-search-results .search-results .has-results .search-results-item ul ol,
#book-search-results .search-results .has-results .search-results-item ul ul {
  margin-top: 0;
  margin-bottom: 0
}

#book-search-results .search-results .has-results .search-results-item ol ol {
  list-style-type: lower-roman
}

#book-search-results .search-results .has-results .search-results-item blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5
}

#book-search-results .search-results .has-results .search-results-item blockquote:first-child {
  margin-top: 0
}

#book-search-results .search-results .has-results .search-results-item blockquote:last-child {
  margin-bottom: 0
}

#book-search-results .search-results .has-results .search-results-item dl {
  padding: 0
}

#book-search-results .search-results .has-results .search-results-item dl dt {
  padding: 0;
  margin-top: .85em;
  font-style: italic;
  font-weight: 700
}

#book-search-results .search-results .has-results .search-results-item dl dd {
  padding: 0 .85em;
  margin-bottom: .85em
}

#book-search-results .search-results .has-results .search-results-item dd {
  margin-left: 0
}

#book-search-results .search-results .has-results .search-results-item h3 {
  margin-top: 0;
  margin-bottom: 0
}

#book-search-results .search-results .no-results {
  padding: 40px 0
}

body.search-loading #book-search-results {
  opacity: .3
}

body.with-search .navigation {
  display: none
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased
}

a {
  text-decoration: none
}

body,
html {
  height: 100%
}

html {
  font-size: 62.5%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  xcolor: #BA1C3B;
  color: #00244F;
}

h2 {
  margin-top: 3.26em !important;
  margin-bottom: 0.5em !important;
  border-left: 0.81em #BA1C3B solid;
}

h3 {
  border-top: 1px #00af80 solid;
}

h4 {
  border-left: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

body {
  text-rendering: optimizeLegibility;
  xfont-smoothing: antialiased;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */

  font-family: "aglet-mono", mono, "divenire-mono", serif, "auger-mono", monospace, "lexia-mono-variable", sans-serif, "moby", sans-serif, "paradroid-mono-soft", sans-serif, "logic-monospace", mono, john-doe, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 18px;
  letter-spacing: .2px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}