# /*
# |    Protect your secrets, protect your sensitive data.
# :    Explore VMware Secrets Manager docs at https://vsecm.com/
# </
# <>/  keep your secrets... secret
# >/
# <>/' Copyright 2023-present VMware Secrets Manager contributors.
# >/'  SPDX-License-Identifier: BSD-2-Clause
# */

apiVersion: apps/v1
kind: Deployment
metadata:
  name: vsecm-inspector
  namespace: default
  labels:
    app.kubernetes.io/name: vsecm-inspector
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vsecm-inspector
  template:
    metadata:
      labels:
        app.kubernetes.io/name: vsecm-inspector
    spec:
      serviceAccountName: vsecm-inspector
      containers:
        - name: main
          image: localhost:32000/example-multiple-secrets:0.27.2
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /spire-agent-socket
              readOnly: true
          env:
            - name: SPIFFE_ENDPOINT_SOCKET
              value: "unix:///spire-agent-socket/spire-agent.sock"
            - name: VSECM_LOG_LEVEL
              value: "7"
            - name: VSECM_SPIFFEID_PREFIX_WORKLOAD
              value: "spiffe://cluster1.demo/workload/"
            - name: VSECM_SPIFFEID_PREFIX_SAFE
              value: "spiffe://cluster2.demo/workload/vsecm-safe/ns/vsecm-system/sa/vsecm-safe/n/"
            - name: VSECM_SAFE_ENDPOINT_URL
              value: "https://10.0.0.71:8443"
      volumes:
        - name: spire-agent-socket
          #          csi:
          #            driver: "csi.spiffe.io"
          #            readOnly: true
          hostPath:
            path: /run/spire/sockets
            type: DirectoryOrCreate
