<div class="page-wrapper" tabindex="-1" role="main">
    {%- include notification.html -%}

    {% if page.cover %}
    <img src="{{ page.cover }}"
         width="100%"
         height="{{ page.cover_height | default: '100%' }}"
         alt="{{ page.title | escape }}"
         style="object-fit: cover;"
    />
    {% endif %}

    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    <svg style="display:block; margin:0em auto" width="128px" height="128px" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <linearGradient x1="96.643987%" y1="24.2510568%" x2="0%" y2="95.5884291%" id="linearGradient-dak4vz2qs8-1">
                                <stop stop-color="#00C4F0" offset="0%"></stop>
                                <stop stop-color="#0091DD" offset="100%"></stop>
                            </linearGradient>
                            <path d="M108.105505,68.6610169 L108.105505,68.2618702 L108.105505,33.6222863 C108.095283,30.8404845 106.266824,28.3319543 103.457131,27.2450106 C88.3812377,21.5102429 72.1842728,18.6261566 55.8486239,18.7676789 L55.8486239,68.6610169 L108.105505,68.6610169 Z" id="path-dak4vz2qs8-2"></path>
                            <filter x="-6.7%" y="-9.0%" width="113.4%" height="114.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-3">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="94.5118083%" y1="0%" x2="40.5044727%" y2="74.0732833%" id="linearGradient-dak4vz2qs8-4">
                                <stop stop-color="#4083C4" offset="0%"></stop>
                                <stop stop-color="#1E4C92" offset="100%"></stop>
                            </linearGradient>
                            <path d="M16.5458716,52.9576271 C17.0643668,78.2624453 34.468286,100.609782 60.208187,109.021808 L66.1633464,111.061401 C68.1372377,111.732731 70.2232412,112.076271 72.3256881,112.076271 L72.3256881,52.9576271 L16.5458716,52.9576271 Z" id="path-dak4vz2qs8-5"></path>
                            <filter x="-6.3%" y="-4.2%" width="112.5%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-6">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="50%" y1="54.6798127%" x2="100%" y2="90.0117392%" id="linearGradient-dak4vz2qs8-7">
                                <stop stop-color="#499D2F" offset="0%"></stop>
                                <stop stop-color="#236415" offset="100%"></stop>
                            </linearGradient>
                            <rect id="path-dak4vz2qs8-8" x="7.04587156" y="9.76271186" width="55.7798165" height="49.8983051"></rect>
                            <filter x="-6.3%" y="-9.0%" width="112.5%" height="114.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-9">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="4.36108893%" y1="22.880014%" x2="100%" y2="96.3321191%" id="linearGradient-dak4vz2qs8-10">
                                <stop stop-color="#87CF66" offset="0%"></stop>
                                <stop stop-color="#86CF66" offset="6.55855135%"></stop>
                                <stop stop-color="#4FA236" offset="100%"></stop>
                            </linearGradient>
                            <path d="M55.7798165,0.00534492439 C38.3428878,-0.146945382 21.0539927,2.95658231 4.96174749,9.12769101 C1.96263647,10.297337 0.0109107404,12.9967336 0,15.9901943 L0,53.2653987 L0,53.6949153 L55.7798165,53.6949153 L55.7798165,0.00534492439 Z" id="path-dak4vz2qs8-11"></path>
                            <filter x="-6.3%" y="-8.4%" width="112.5%" height="113.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-12">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <path d="M118.605505,59.6610169 L118.605505,59.2618702 L118.605505,24.6222863 C118.595283,21.8404845 116.766824,19.3319543 113.957131,18.2450106 C98.8812377,12.5102429 82.6842728,9.62615656 66.3486239,9.76767886 L66.3486239,59.6610169 L118.605505,59.6610169 Z" id="path-dak4vz2qs8-13"></path>
                            <filter x="-6.7%" y="-9.0%" width="113.4%" height="114.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-14">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="10.9331819%" y1="0%" x2="36.4422037%" y2="27.6798647%" id="linearGradient-dak4vz2qs8-15">
                                <stop stop-color="#8129A8" offset="0%"></stop>
                                <stop stop-color="#4A126F" offset="100%"></stop>
                            </linearGradient>
                            <path d="M66.3486239,63.4576271 L66.3486239,122.576271 C68.3182846,122.576271 70.2725406,122.232731 72.121765,121.561401 L77.7008091,119.521808 C101.815032,111.109782 118.119756,88.7624453 118.605505,63.4576271 L66.3486239,63.4576271 Z" id="path-dak4vz2qs8-16"></path>
                            <filter x="-6.7%" y="-4.2%" width="113.4%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-17">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <path d="M7.04587156,63.4576271 C7.56436682,88.7624453 24.968286,111.109782 50.708187,119.521808 L56.6633464,121.561401 C58.6372377,122.232731 60.7232412,122.576271 62.8256881,122.576271 L62.8256881,63.4576271 L7.04587156,63.4576271 Z" id="path-dak4vz2qs8-18"></path>
                            <filter x="-6.3%" y="-4.2%" width="112.5%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-19">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="5.48819172%" y1="0%" x2="65.4538788%" y2="68.8493983%" id="linearGradient-dak4vz2qs8-20">
                                <stop stop-color="#AF3CDB" offset="0%"></stop>
                                <stop stop-color="#771CB4" offset="100%"></stop>
                            </linearGradient>
                            <path d="M72.2201835,68.8813559 L72.2201835,128 C74.3226304,128 76.4086339,127.65646 78.3825251,126.98513 L84.3376846,124.945537 C110.077586,116.533511 127.481505,94.1861741 128,68.8813559 L72.2201835,68.8813559 Z" id="path-dak4vz2qs8-21"></path>
                            <filter x="-6.3%" y="-4.2%" width="112.5%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-22">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group-2">
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-3)" xlink:href="#path-dak4vz2qs8-2"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-1)" xlink:href="#path-dak4vz2qs8-2"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-6)" xlink:href="#path-dak4vz2qs8-5"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-4)" xlink:href="#path-dak4vz2qs8-5"></use>
                                </g>
                                <g id="Rectangle">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-9)" xlink:href="#path-dak4vz2qs8-8"></use>
                                    <rect stroke-linejoin="square" fill="url(#linearGradient-dak4vz2qs8-7)" fill-rule="evenodd" x="7.04587156" y="9.76271186" width="55.7798165" height="49.8983051"></rect>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-12)" xlink:href="#path-dak4vz2qs8-11"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-10)" xlink:href="#path-dak4vz2qs8-11"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-14)" xlink:href="#path-dak4vz2qs8-13"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-1)" xlink:href="#path-dak4vz2qs8-13"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-17)" xlink:href="#path-dak4vz2qs8-16"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-15)" xlink:href="#path-dak4vz2qs8-16"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-19)" xlink:href="#path-dak4vz2qs8-18"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-4)" xlink:href="#path-dak4vz2qs8-18"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-22)" xlink:href="#path-dak4vz2qs8-21"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-20)" xlink:href="#path-dak4vz2qs8-21"></use>
                                </g>
                            </g>
                        </g>
                    </svg>

                    <h1>VMware Secrets Manager Blog</h1>



                    {% for collection in site.collections %}
                        {% if collection.output %}
                            {% if collection.label == "posts" %}
                                {% assign reversed_posts = site[collection.label] | reverse %}
                            {% else %}
                                {% assign reversed_posts = site[collection.label] %}
                            {% endif %}

                        {% for post in reversed_posts %}


                        {% if post.kind == "VSecMBlog" %}
                        <a href="{{site.baseurl}}{{post.url}}" class="blog-listing-link">
                            <h2>{{ post.title | escape }}</h2>
                            <p>{{ post.excerpt | truncate: 250, "…" }}</p>
                            <p class="blog-author-info">by <span
                            ><strong>{{ post.author }}</strong></span><span
                            style="display:inline-block;padding:0 4px">·</span><span
                            >{{ post.published_at }}</span></p>
                        </a>
                        {% endif %}
                    {% endfor %}

                    {% if reversed_posts.size > 0 %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}




                    {%- if jekyll.environment != 'dev' and site.disqushandler -%}
                    {%- include disqus.html -%}
                    {%- endif -%}

                    <blockquote class="block-tip" style="border-color: var(--c-tip);
    color: #143a29;
    font-family: var(--font-family);
    padding: 0.5em;
    padding-left: 0.96em;
    margin: 2em 0.2em;
    border-left-width: 0.5em;

    background: #e2f5ec;
    background: -webkit-linear-gradient(to right, #e2f5ec, #d5eefe);
    background: linear-gradient(to right, #e2f5ec, #d5eefe);

    border-radius: 4px;

    box-shadow:
            rgba(50, 49, 93, 0.25) 0px 12px 25px -11px,
            rgba(0, 0, 0, 0.3) 0px 7px 15px -10px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                        <p>Unless explicitly stated otherwise, everything written on this blog
                            represents the thoughts and comments of their respective authors
                            and <strong>NOT</strong> VMware.</p>
                    </blockquote>



                    <svg style="display:block; margin:0em auto" width="128px" height="128px" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <linearGradient x1="96.643987%" y1="24.2510568%" x2="0%" y2="95.5884291%" id="linearGradient-dak4vz2qs8-1">
                                <stop stop-color="#00C4F0" offset="0%"></stop>
                                <stop stop-color="#0091DD" offset="100%"></stop>
                            </linearGradient>
                            <path d="M108.105505,68.6610169 L108.105505,68.2618702 L108.105505,33.6222863 C108.095283,30.8404845 106.266824,28.3319543 103.457131,27.2450106 C88.3812377,21.5102429 72.1842728,18.6261566 55.8486239,18.7676789 L55.8486239,68.6610169 L108.105505,68.6610169 Z" id="path-dak4vz2qs8-2"></path>
                            <filter x="-6.7%" y="-9.0%" width="113.4%" height="114.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-3">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="94.5118083%" y1="0%" x2="40.5044727%" y2="74.0732833%" id="linearGradient-dak4vz2qs8-4">
                                <stop stop-color="#4083C4" offset="0%"></stop>
                                <stop stop-color="#1E4C92" offset="100%"></stop>
                            </linearGradient>
                            <path d="M16.5458716,52.9576271 C17.0643668,78.2624453 34.468286,100.609782 60.208187,109.021808 L66.1633464,111.061401 C68.1372377,111.732731 70.2232412,112.076271 72.3256881,112.076271 L72.3256881,52.9576271 L16.5458716,52.9576271 Z" id="path-dak4vz2qs8-5"></path>
                            <filter x="-6.3%" y="-4.2%" width="112.5%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-6">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="50%" y1="54.6798127%" x2="100%" y2="90.0117392%" id="linearGradient-dak4vz2qs8-7">
                                <stop stop-color="#499D2F" offset="0%"></stop>
                                <stop stop-color="#236415" offset="100%"></stop>
                            </linearGradient>
                            <rect id="path-dak4vz2qs8-8" x="7.04587156" y="9.76271186" width="55.7798165" height="49.8983051"></rect>
                            <filter x="-6.3%" y="-9.0%" width="112.5%" height="114.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-9">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="4.36108893%" y1="22.880014%" x2="100%" y2="96.3321191%" id="linearGradient-dak4vz2qs8-10">
                                <stop stop-color="#87CF66" offset="0%"></stop>
                                <stop stop-color="#86CF66" offset="6.55855135%"></stop>
                                <stop stop-color="#4FA236" offset="100%"></stop>
                            </linearGradient>
                            <path d="M55.7798165,0.00534492439 C38.3428878,-0.146945382 21.0539927,2.95658231 4.96174749,9.12769101 C1.96263647,10.297337 0.0109107404,12.9967336 0,15.9901943 L0,53.2653987 L0,53.6949153 L55.7798165,53.6949153 L55.7798165,0.00534492439 Z" id="path-dak4vz2qs8-11"></path>
                            <filter x="-6.3%" y="-8.4%" width="112.5%" height="113.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-12">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <path d="M118.605505,59.6610169 L118.605505,59.2618702 L118.605505,24.6222863 C118.595283,21.8404845 116.766824,19.3319543 113.957131,18.2450106 C98.8812377,12.5102429 82.6842728,9.62615656 66.3486239,9.76767886 L66.3486239,59.6610169 L118.605505,59.6610169 Z" id="path-dak4vz2qs8-13"></path>
                            <filter x="-6.7%" y="-9.0%" width="113.4%" height="114.0%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-14">
                                <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="10.9331819%" y1="0%" x2="36.4422037%" y2="27.6798647%" id="linearGradient-dak4vz2qs8-15">
                                <stop stop-color="#8129A8" offset="0%"></stop>
                                <stop stop-color="#4A126F" offset="100%"></stop>
                            </linearGradient>
                            <path d="M66.3486239,63.4576271 L66.3486239,122.576271 C68.3182846,122.576271 70.2725406,122.232731 72.121765,121.561401 L77.7008091,119.521808 C101.815032,111.109782 118.119756,88.7624453 118.605505,63.4576271 L66.3486239,63.4576271 Z" id="path-dak4vz2qs8-16"></path>
                            <filter x="-6.7%" y="-4.2%" width="113.4%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-17">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <path d="M7.04587156,63.4576271 C7.56436682,88.7624453 24.968286,111.109782 50.708187,119.521808 L56.6633464,121.561401 C58.6372377,122.232731 60.7232412,122.576271 62.8256881,122.576271 L62.8256881,63.4576271 L7.04587156,63.4576271 Z" id="path-dak4vz2qs8-18"></path>
                            <filter x="-6.3%" y="-4.2%" width="112.5%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-19">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                            <linearGradient x1="5.48819172%" y1="0%" x2="65.4538788%" y2="68.8493983%" id="linearGradient-dak4vz2qs8-20">
                                <stop stop-color="#AF3CDB" offset="0%"></stop>
                                <stop stop-color="#771CB4" offset="100%"></stop>
                            </linearGradient>
                            <path d="M72.2201835,68.8813559 L72.2201835,128 C74.3226304,128 76.4086339,127.65646 78.3825251,126.98513 L84.3376846,124.945537 C110.077586,116.533511 127.481505,94.1861741 128,68.8813559 L72.2201835,68.8813559 Z" id="path-dak4vz2qs8-21"></path>
                            <filter x="-6.3%" y="-4.2%" width="112.5%" height="111.8%" filterUnits="objectBoundingBox" id="filter-dak4vz2qs8-22">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group-2">
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-3)" xlink:href="#path-dak4vz2qs8-2"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-1)" xlink:href="#path-dak4vz2qs8-2"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-6)" xlink:href="#path-dak4vz2qs8-5"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-4)" xlink:href="#path-dak4vz2qs8-5"></use>
                                </g>
                                <g id="Rectangle">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-9)" xlink:href="#path-dak4vz2qs8-8"></use>
                                    <rect stroke-linejoin="square" fill="url(#linearGradient-dak4vz2qs8-7)" fill-rule="evenodd" x="7.04587156" y="9.76271186" width="55.7798165" height="49.8983051"></rect>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-12)" xlink:href="#path-dak4vz2qs8-11"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-10)" xlink:href="#path-dak4vz2qs8-11"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-14)" xlink:href="#path-dak4vz2qs8-13"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-1)" xlink:href="#path-dak4vz2qs8-13"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-17)" xlink:href="#path-dak4vz2qs8-16"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-15)" xlink:href="#path-dak4vz2qs8-16"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-19)" xlink:href="#path-dak4vz2qs8-18"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-4)" xlink:href="#path-dak4vz2qs8-18"></use>
                                </g>
                                <g id="Path" fill-rule="nonzero">
                                    <use fill="black" fill-opacity="1" filter="url(#filter-dak4vz2qs8-22)" xlink:href="#path-dak4vz2qs8-21"></use>
                                    <use fill="url(#linearGradient-dak4vz2qs8-20)" xlink:href="#path-dak4vz2qs8-21"></use>
                                </g>
                            </g>
                        </g>
                    </svg>
                </section>
            </div>

            {%- include search.html -%}
        </div>
    </div>
</div>

{% include mathjax.html %}



<p class="copyright">
    Copyright © 2023-present VMware Secrets Manager contributors.<br><br>
    <strong>VMware Secrets Manager</strong> for Cloud-Native Apps<br>
    code is distributed under <a href="https://github.com/vmware-tanzu/secrets-manager/blob/main/LICENSE">BSD 2-Clause License</a>.<br>
    <br>
    The documentation on this website<br>
    is distributed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>.
    <br><br>
    <a href="https://vsecm.com/docs/community/">contact</a> |
    <a href="https://vsecm.com/docs/privacy/">privacy policy</a>
    <br><br>
</p>
