<p style="
text-align: center;
margin: 1em auto 1em auto;
max-width: 720px;
background: #fabfce;
border: 1px #aa0000 solid;
padding: 1em;
line-height: 2em;
">
    This is snapshot of <strong>VSecM</strong>’s documentation at
    version <strong>v{{site.version}}</strong>.<br>
    <a href="https://vsecm.com" style="text-decoration:underline;color: #660000;">Check out the latest version of the
        documentation</a>.
</p>

<div
    class="block-tip"
    style="
        border-color: var(--c-tip);
        color: #143a29;
        font-family: var(--font-family);
        padding: 0.5em;
        padding-left: 0.96em;
        border-left-width: 0.5em;
        text-align: center;
        background: #fdfeac;
        background: -webkit-linear-gradient(to right, #fdfeac, #d5eefe);
        background: linear-gradient(to right, #fdfeac, #d5eefe);

        border-radius: 4px;

        max-width: 650px;
        display: block;
        margin: 1em auto 3em auto;

        box-shadow:
            rgba(50, 49, 93, 0.25) 0px 12px 25px -11px,
            rgba(0, 0, 0, 0.3) 0px 7px 15px -10px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    "
>
    <p>
        The next
        <strong
            ><a
                href="/docs/contributor-sync/"
                style="text-decoration: underline; color: #0946ec"
                >VSecM Contributor Sync</a
            ></strong
        >
        will be on...<br />
        <strong>Thursday, 2024-03-28</strong>
        at <strong>8:00am</strong> Pacific time.
    </p>
</div>
