<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            {% for collection in site.collections %}

                <!-- <p>{{ collection.label }}</p> -->
                {% if collection.output %}
                    {% if collection.label == "posts" %}
                        {% assign reversed_posts = site[collection.label] | reverse %}
                    {% else %}
                        {% assign reversed_posts = site[collection.label] %}
                    {% endif %}

                    {% for post in reversed_posts %}
                        {% if post.url contains "community/" %}
                            <li style="font-weight:bold;padding-left:1rem;text-transform: uppercase;">Engage</li>
                        {% endif %}
                        {% if post.url contains "quickstart/" %}
                            <li class="divider"></li>
                            <li style="font-weight:bold;padding-left:1rem;text-transform: uppercase;">Guide</li>
                        {% endif %}
                        {% if post.url contains "release-management" %}
                            <li class="divider"></li>
                            <li style="font-weight:bold;padding-left:1rem;text-transform: uppercase;">Operations</li>
                        {% endif %}
                        {% if post.url contains "changelog" %}
                            <li class="divider"></li>
                            <li style="font-weight:bold;padding-left:1rem;text-transform: uppercase;">Timeline</li>
                        {% endif %}
                        {% if post.url contains "use-cases/" %}
                            <li class="divider"></li>
                            <li style="font-weight:bold;padding-left:1rem;text-transform: uppercase;">Use Cases</li>
                        {% endif %}
                        {% if post.url contains "showcase/" %}
                            <li class="divider"></li>
                            <li style="font-weight:bold;padding-left:1rem;text-transform: uppercase;">Showcase</li>
                        {% endif %}


                        {% if post.kind != "VSecMBlog" %}
                            {% if page.url == post.url %}
                                <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                            {% else %}
                                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                                {% if post.url contains "quickstart/" %}
                                    <a href="{{site.baseurl}}{{post.url}}" style="font-weight:bold">
                                        🚀 {{ post.title | escape }} 🐢
                                    </a>
                                {% else %}
                                    <a href="{{site.baseurl}}{{post.url}}">
                                        {{ post.title | escape }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}

                    {% endfor %}

                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
