# Configurations
title:            VMware Secrets Manager
longtitle:        VMWare Secrets Manger For Cloud-Native Apps
author:           Volkan Özçelik and Contributors
email:            ovolkan@vmware.com
description: >
  VMware Secrets Manager for Cloud-Native Apps is a cloud-native secure store 
  for secrets management. It provides a minimal and intuitive API, ensuring 
  practical security without compromising user experience.
  
  Endorsed by industry experts, VMware Secrets Manager is a ground-up re-imagination 
  of secrets management, leveraging SPIRE for authentication and providing a 
  cloud-native way to manage secrets end-to-end.
  
  VMware Secrets Manager is resilient and secure by default, storing sensitive 
  data in memory and encrypting any data saved to disk.
  
  With VMware Secrets Manager, you can rest assured that your sensitive data is 
  always secure and protected.

version:          0.5.0
gitbook_version:  3.2.3

url:              'https://vsecm.com'
baseurl:          ''
rss:              RSS

toc:
  enabled: true
  h_min: 1
  h_max: 3

# customize the link favicon in header, will be {{site.baseurl}}/{{site.favicon_path}}
favicon_path:     /assets/gitbook/images/favicon.ico

# markdown render engine.
markdown:         kramdown
kramdown:
  auto_ids:               true
  input:                  GFM
  math_engine:            mathjax
  smart_quotes:           lsquo,rsquo,ldquo,rdquo
  toc_levels:             1..6
  syntax_highlighter:     rouge
  syntax_highlighter_opts:
    guess_lang:           true

syntax_highlighter_style: github

markdown_ext:             markdown,mkdown,mkdn,mkd,md

# Permalinks
permalink:                /:categories/:title

exclude:
  - _drafts

collections:
  pages:
    output: true
    permalink: /:collection/:path/

page_width: 800px

destination:      ./_site
incremental:      false
regenerate:       true

plugins:
  - jekyll-feed
  - jekyll-readme-index
  - jemoji
